@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona&display=swap");

.Title {
  font-size: 75px;
  font-family: Alex Brush;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
  margin-top: auto;
}

.Subtitle {
  font-size: 25px;
  font-family: Petrona;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.Start-button {
  font-size: 25px;
  font-family: Petrona;
  color: white;
  text-decoration: none;
  background-color: black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  margin-bottom: auto;
  padding: 20px 208px;
}

.Start-button:hover {
  background-color: var(--black-hover);
}

.Start-button::before {
  content: icon;
}

.fas {
  margin: 5px;
}

.display-of-products {
  width: 100%;
  --display-height: 100px;
  height: var(--display-height);
  background: white;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  z-index: -1;
  object-fit: contain;
}

.display-image {
  height: var(--display-height);
  width: auto;
  object-fit: contain;
}

.above {
  margin-top: 3%;
  animation: left-to-right 20s linear infinite;
}

.above2 {
  transform: translate(-100%);
  margin-top: calc(-1 * var(--display-height));
  animation: left-to-right2 20s linear infinite;
  z-index: -2;
}

@keyframes left-to-right {
  100% {
    transform: translate(100%);
  }
}

@keyframes left-to-right2 {
  100% {
    transform: translate(0%);
  }
}

.below {
  margin-bottom: calc(-1 * var(--display-height));
  animation: right-to-left 20s linear infinite;
}

.below2 {
  margin-bottom: 3%;
  transform: translate(100%);
  animation: right-to-left2 20s linear infinite;
}

@keyframes right-to-left {
  100% {
    transform: translate(-100%);
  }
}

@keyframes right-to-left2 {
  100% {
    transform: translate(0%);
  }
}
